include *.txt
recursive-include jast *.conf
recursive-include jast *.css
recursive-include jast *.eot
recursive-include jast *.html
recursive-include jast *.js
recursive-include jast *.svg
recursive-include jast *.ttf
recursive-include jast *.woff
